.verified-body {
  backdrop-filter: blur(2px);
  background: rgba(50, 59, 75, 0.3);
}

.verified-box {
  background: #ffffff;
}

.close-btn {
  margin: 22px 22px 0px 324px;
  width: 32px !important;
  height: 32px !important;
  left: calc(50% - 32px / 2 + 151px) !important;
  top: calc(50% - 32px / 2 - 168px) !important;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.close-icon {
  width: 13.93px;
  height: 13.93px;
  margin: 9.04px 9.03px;
}

.success-btn {
  position: absolute;
  width: 116px;
  height: 116px;
  margin: 2px 131px 30px 131px;
}

.welcome-box {
  margin: 155px 62px 10px 58px !important;
}

.welcome-text {
  height: 64px;
  width: 258px;
  font-family: "Mulish" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 32px !important;
  text-align: center;
  color: #1e1f20;
  letter-spacing: 0px !important;
}

.detail-box {
  margin: 0px 44px 40px 41px !important;
}

.detail-text {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 24px !important;
  text-align: center;
  color: #f8446c !important;
  width: 293px;
  height: 48px;
}

.fill-text-btn {
  background: linear-gradient(45deg, #3093bb 0%, #82dbff 100%);
  border-radius: 12px !important;
  width: 330px;
  height: 57px;
  margin: 0px 24px 30px 24px !important;
}

.fill-text {
  font-family: "Mulish" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 24px !important;
  text-align: center;
  color: #ffffff;
  height: 24px;
  text-transform: none;
  position: absolute;
}
