.reupload-title {
  color: var(--text-1, #1e1f20);
  font-size: 24px !important;
  font-family: Mulish !important;
  font-weight: 800 !important;
  line-height: 40px !important;
  width: 311px;
  height: 40px;
  margin: 96px 987px 0px 142px !important;
  position: absolute;
}

.rectangle-box {
  width: 1156px;
  height: 1128px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #d3b5b5;
  box-shadow: 0px 5px 10px 0px rgba(0, 64, 128, 0.04);
  margin: 156px 142px 67px 142px !important;
  position: absolute;
}
